.logo {
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2e6de; /* Cor suave para combinar com o estilo das artes */
    color: #3a2e29; /* Cor que dá contraste elegante */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #3a2e29; /* Cor do topo para contraste */
    gap: 20px;
}

header .logo img {
    max-height: 100px;
    padding-right: 20px;
}

nav {
    position: relative;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 0;
    padding: 0;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 100%; /* Logo abaixo do item principal */
    left: 0;
    background-color: #3a2e29;
    padding: 20px;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #f2e6de;
    font-weight: bold;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #c55a5a; /* Cor de destaque ao passar o mouse */
}

.dropdown:hover .dropdown-menu {
    display: block; /* Mostrar o menu ao passar o mouse */
}

nav a {
    text-decoration: none;
    color: #f2e6de;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c55a5a; /* Cor de destaque ao passar o mouse */
}

.hero {
    text-align: center;
    padding: 10px 10px;
    background: url('../images/Patterns1.png') center/cover no-repeat;
    color: #fff;
    background-attachment: fixed;
    height: 300px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
}

.hero p {
    font-size: 1.5em;
}

.sobre, .servicos, .contato {
    padding: 50px 20px;
    text-align: center;
}

.sobre h2, .servicos h2, .contato h2, .servico-detalhe h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.servico-detalhe p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center; /* Alinhamento dos parágrafos <p> nas páginas dos serviços */
}

.sobre p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center; /* Alinhamento dos parágrafos <p> */
}

.servicos .servico-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.servicos .servico-card.visible {
    opacity: 1;
}

.servicos .servico-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.servicos .servico-card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2em;
    color: #0c0a09;
    margin-top: 15px;
    text-decoration: none;
}

.servicos .servico-card p {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: #dba087;
    line-height: 1.6;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.servicos .servico-card a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3a2e29;
    color: #f2e6de;
    margin-top: 50px;
}

.contato form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.contato input, .contato textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato button {
    padding: 10px;
    background-color: #c55a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato button:hover {
    background-color: #8c3a3a;
}

/* Estilo do botão de menu hambúrguer */
.menu-hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: #f2e6de;
    cursor: pointer;
}

/* Esconder elementos em dispositivos desktop/móveis */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

/* Estilos para telas menores - Dispositivos móveis */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Empilhar o logo e o menu em telas pequenas */
    }

    /* Esconder o menu completo em telas pequenas por padrão */
    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #3a2e29;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    /* Mostrar o menu quando a classe 'menu-open' for adicionada */
    #menu.menu-open {
        display: flex;
    }

    /* Exibir o botão de menu hambúrguer em dispositivos móveis */
    .menu-hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 2em;
        color: #f2e6de;
        cursor: pointer;
    }

    .desktop-only {
        display: none; /* Esconder o dropdown em telas menores */
    }

    .mobile-only {
        display: block; /* Mostrar o link de serviços em telas menores */
    }

    .hero {
        padding: 50px 20px;
        background: url('../images/Patterns1.png') center/contain no-repeat;
        background-attachment: scroll;
        height: auto;
    }

    .hero h1 {
        font-size: 2em; /* Diminuir o tamanho da fonte do título */
    }

    .hero p {
        font-size: 1em; /* Ajustar o tamanho do texto para telas menores */
    }

    .servicos .servico-card {
        max-width: 90%; /* Reduzir a largura dos cards de serviços */
        margin: 10px auto; /* Centralizar os cards e reduzir margens */
    }

    footer {
        padding: 10px; /* Reduzir o padding do footer */
    }

    .contato form {
        gap: 5px; /* Reduzir o espaçamento entre os elementos do formulário */
    }

    .contato input, .contato textarea {
        width: 100%; /* Garantir que os campos do formulário ocupem toda a largura da tela */
    }
}

